html{
background-color: rgba(128, 0, 0, 0.8);
}
h1{
text-align:center;
color: red;
margin: 0;
content: 0;
border: 0;
padding: 0;
width: 100%;
left: 0px;
background-size: 100%;
background-color: rgba(0,100,100,0.2);
box-sizing: border-box;
}
div {
width: 100%;
text-align: center;
font-size: 3vmin;
}
.navigation hr{
	background-color: blue;
	margin-left:40vw;
	margin-right:40vw;
	margin-top:4px;
	margin-bottom:4px;
}
.navigation{
	opacity: 0.5;
	color: gray;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	background-color: blue;
	width: 100%;
}
.navigation a{
	font-weight: 100;
	letter-spacing: 2px;
	list-style-type: none;
	text-decoration: none;
}
.navigation a:visited{
	color: gray;
}
.navigation a:hover{
	color: red;
	opacity: 0.5;
}
.navigation li.currentNav{
	color:red;
	font-weight: 700;
	letter-spacing: 4px;
	font-size: 18;
	list-style-type: none;
}
